In [1]:
s = upgrad

s = s[:2] + s[2].upper() + s[3:]

NameError: name 'upgrad' is not defined

In [2]:
s = upGrad

NameError: name 'upGrad' is not defined

In [3]:
'G'.join(['up','rad'])

'upGrad'

In [4]:
s='aabupGradaab'
s.strip('aab')

'upGrad'

In [5]:
s=s='aabupGradaab'
s.strip('a').strip('b').strip('a')

'upGrad'

In [1]:
set.intersection(A, B, C)

NameError: name 'A' is not defined

In [2]:
A.intersection(B, C)

NameError: name 'A' is not defined

In [3]:
A.intersection([B, C])

NameError: name 'A' is not defined

In [4]:
set.intersection([A, B, C])

NameError: name 'A' is not defined

In [6]:
A={5,2,3}
B={3,4,5}
C={3,6,5}

In [7]:
set.intersection(A, B, C)

{3, 5}

In [8]:
A.intersection(B, C)

{3, 5}

In [9]:
A.intersection([B, C])

TypeError: unhashable type: 'set'

In [10]:
set.intersection([A, B, C])

TypeError: descriptor 'intersection' for 'set' objects doesn't apply to a 'list' object

In [11]:

d = {}

In [12]:
type(d)

dict

In [14]:
d1={'a':1, 'b':2}

In [15]:
type(d1)

dict

In [16]:
d={'a'=1, 'b'=2}

SyntaxError: invalid syntax (3525648346.py, line 1)

In [18]:
d2=dict(a=1, b=2)

In [19]:
type(d2)

dict

In [20]:
d3 = ('a':1, 'b':2)

SyntaxError: invalid syntax (461443162.py, line 1)

In [21]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d['e'])

KeyError: 'e'

In [22]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d.keys())

dict_keys(['a', 'b', 'c', 'd'])

In [23]:
d={'a':64, 'b':65, 'c':66, 'd':67}
print(d.keys())

dict_keys(['a', 'b', 'c', 'd'])

In [26]:
num1 = int(input())
num2 = int(input())
min_num=minimum(num1,num2)
print(min_num)a=

2
4

NameError: name 'minimum' is not defined

In [27]:
num1=2
num2=3
min(num1,num2)

2

In [29]:
def __init__ (self):
    return minimum=min(num1,num2)
num1 = int(input())
num2 = int(input())
min_num=minimum(num1,num2)
print(min_num)

SyntaxError: invalid syntax (2992821698.py, line 2)

In [ ]:
a=input()
# Enter your code here.
print(new_a)

In [1]:
a = input("Enter a string: ")
new_a = '&'.join(a)

print("String with '&' inserted between characters:", new_a)

Enter a string: Python
String with '&' inserted between characters: P&y&t&h&o&n

In [4]:
l1=[1,2,3]

In [7]:
l1.append[2]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [8]:
‘Anil’, ‘Amol’, ‘Aditya’, ‘Avi’, ‘Alka’

SyntaxError: invalid character '‘' (U+2018) (2990041346.py, line 1)

In [13]:
# Create a list of 5 names 

names=['Anil', 'Amol', 'Aditya', 'Avi', 'Alka']

print(names)

# insert a name 'Anuj' before 'Aditya'

names.insert(2,"Anuj")

print(names)

# append a name 'Zulu'

names.append("Zulu")

print(names)

# delete 'Avi' from the list

names.remove("Avi")

print(names)

# replace 'Anil' with 'AnilKumar'

names[0]="AnilKumar"

print(names)

# sort all the names in the list

names.sort()

print(names)

# print reversed sorted list

names.reverse()

print(names)

['Anil', 'Amol', 'Aditya', 'Avi', 'Alka']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Avi', 'Alka']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Avi', 'Alka', 'Zulu']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Alka', 'Zulu']
['AnilKumar', 'Amol', 'Anuj', 'Aditya', 'Alka', 'Zulu']
['Aditya', 'Alka', 'Amol', 'AnilKumar', 'Anuj', 'Zulu']
['Zulu', 'Anuj', 'AnilKumar', 'Amol', 'Alka', 'Aditya']

In [14]:
['Anil', 'Amol', 'Aditya', 'Avi', 'Alka']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Avi', 'Alka']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Avi', 'Alka', 'Zulu']
['Anil', 'Amol', 'Anuj', 'Aditya', 'Alka', 'Zulu']
['AnilKumar', 'Amol', 'Anuj', 'Aditya', 'Alka', 'Zulu']
['Aditya', 'Alka', 'Amol', 'AnilKumar', 'Anuj', 'Zulu']
['Zulu', 'Anuj', 'AnilKumar', 'Amol', 'Alka', 'Aditya']

['Zulu', 'Anuj', 'AnilKumar', 'Amol', 'Alka', 'Aditya']

In [15]:
total_sum = sum(nums)
    num_count = len(nums)
    average = total_sum / num_count
    return average|

IndentationError: unexpected indent (1645540848.py, line 2)

In [7]:
def reverse_words(sentence: str) -> str:
    words = sentence.split()
    reversed_words = [word[::-1] for word in words]
    reversed_sentence = ' '.join(reversed_words)
    return reversed_sentence
sentence = input("Enter a sentence: ")
reversed_sentence = reverse_words(sentence)
print("Reversed sentence:", reversed_sentence)

Enter a sentence: Hello, world! How are you?
Reversed sentence: ,olleH !dlrow woH era ?uoy

In [5]:
import re

In [6]:
def validitycheck(cid):
    #complete the function
    #the function should return a string: :"invalid" or "valid" based on the validity of entered customer ID
    
    if len(cid.split('_')) != 4 or sum(len(group) for group in cid.split('_')) != 12:
        return "invalid"
    for group in cid.split('_'):
        if len(group) != 3 or not re.match("^[a-zA-Z0-9]+$", group):
            return "invalid"
        for i in range(len(group) - 2):
            if group[i] == group[i + 1] and group[i] == group[i + 2]:
                return "invalid"
    return "valid"

cid=input()
print(validitycheck(cid))

abc_123_2ac_Adf
valid

In [11]:
def find_top_student(scores: dict) -> str:
    top_student = None
    max_score = 0  
    
    for student, score in scores.items():
        if score > max_score:
            max_score = score
            top_student = student
    
    return top_student

scores = {'Alice': 85, 'Bob': 92, 'Charlie': 100, 'David': 90}
print(find_top_student(scores))

Charlie

In [22]:
di = {"Alice": [85, 90, 92], "Bob": [78, 80, 75], "Charlie": [92, 88, 95]}

for i in di.values():
    s = 0
    for j in i:
        s += j
        avg = s/len(i)
    
    print (round(avg,2))

89.0
77.67
91.67

In [16]:
di.values()

dict_values([[85, 90, 92], [78, 80, 75], [92, 88, 95]])

In [23]:
def calculate_average_grades(grades: dict) -> dict:
    averages = {}  # Dictionary to store the average grades for each student
    
    for student, grades_list in grades.items():
        if len(grades_list) > 0:
            average_grade = sum(grades_list) / len(grades_list)
            averages[student] = round(average_grade, 2)
        else:
            # Handle the case where the student has no grades
            averages[student] = 0.0
    
    return averages

# Example usage
grades = {"Alice": [85, 90, 92], "Bob": [78, 80, 75], "Charlie": [92, 88, 95]}
average_grades = calculate_average_grades(grades)
print(average_grades)

{'Alice': 89.0, 'Bob': 77.67, 'Charlie': 91.67}