In [1]:
#try to write a code to return 'yes' try to write a code to return 'Yes' if X lies in the range of 1000 to 1100, else return 'No'?

In [2]:
x=1010
if x>=1000 & x<=1100:
    print(x," lies in the range")
else:
    print(x," doesnot lies in the range")

1010  lies in the range

In [10]:
shopping_amount=int(input("Enter the shopping_amount: "))
if shopping_amount>5000:
    print("1000 rs discount")
elif shopping_amount>=2500 and shopping_amount<=5000:
    print("500rs discount")
elif shopping_amount>=1000 and shopping_amount<=2500:
    print("100 rs discount")
else:
    print("no discount")

Enter the shopping_amount: 2499
100 rs discount

In [12]:
X = 12

if (X > 10 & X < 15):
    print('YES')
else:
    print('No')

YES

In [13]:
a=10
b=16
c=20

if( # missing part 1 # ):
    print("a")
elif( # missing part 2 #):
    print("b")
else:
     print("c")

SyntaxError: invalid syntax (2131860517.py, line 7)

In [16]:
if 91 >= 90:
   print('A')
elif 88 >=80:
   print('B')
elif 70 >= 70:
   print('C')
elif 67 >= 60:
   print('D')
else:
   print('F')

A

In [23]:
score=
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

C

In [24]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [25]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [29]:
a=input("Enter a word ")
b=["a","e","i","o","u"]
if a[0] in b:
    print("YES")
else:
    print("NO")

Enter a word prajwal
NO

In [39]:
z=input("Enter a word: ")
if z.startswith("a","e","i","o","u"):
    print("YES")
else:
    print("NO")

Enter a word: animal

TypeError: startswith() takes at most 3 arguments (5 given)

In [1]:
for n in range(1,20):
    if n%2!=0:

It is a prime number
Not a prime number
It is a prime number
Not a prime number
It is a prime number
Not a prime number
It is a prime number
Not a prime number
It is a prime number
Not a prime number
It is a prime number
Not a prime number
It is a prime number
Not a prime number
It is a prime number
Not a prime number
It is a prime number
Not a prime number
It is a prime number

In [7]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in range(len(L2)):
    L3.append(L2[i] - L1[i])
print(L3)

[-2, -6, -15, -4, -8]

In [10]:
l = []
for i in range(-100, 0):
    if(i % 2 == 0):
        l.append(i)
print(l)

[-100, -98, -96, -94, -92, -90, -88, -86, -84, -82, -80, -78, -76, -74, -72, -70, -68, -66, -64, -62, -60, -58, -56, -54, -52, -50, -48, -46, -44, -42, -40, -38, -36, -34, -32, -30, -28, -26, -24, -22, -20, -18, -16, -14, -12, -10, -8, -6, -4, -2]

In [12]:
for i in range(0, -101, 2):
    print(i)

In [13]:
for i in range(-100, -1, 2):
    print(i)

-100
-98
-96
-94
-92
-90
-88
-86
-84
-82
-80
-78
-76
-74
-72
-70
-68
-66
-64
-62
-60
-58
-56
-54
-52
-50
-48
-46
-44
-42
-40
-38
-36
-34
-32
-30
-28
-26
-24
-22
-20
-18
-16
-14
-12
-10
-8
-6
-4
-2

In [14]:
for i in sorted(set(range(-2, -101, -2))):
    print(i)

-100
-98
-96
-94
-92
-90
-88
-86
-84
-82
-80
-78
-76
-74
-72
-70
-68
-66
-64
-62
-60
-58
-56
-54
-52
-50
-48
-46
-44
-42
-40
-38
-36
-34
-32
-30
-28
-26
-24
-22
-20
-18
-16
-14
-12
-10
-8
-6
-4
-2

In [15]:
for i in range(-2, -101, -2):
    print(i)

-2
-4
-6
-8
-10
-12
-14
-16
-18
-20
-22
-24
-26
-28
-30
-32
-34
-36
-38
-40
-42
-44
-46
-48
-50
-52
-54
-56
-58
-60
-62
-64
-66
-68
-70
-72
-74
-76
-78
-80
-82
-84
-86
-88
-90
-92
-94
-96
-98
-100

In [2]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i, end = " ")

0 1 2

In [ ]:
# Creating a dictionary consisting of even natural numbers as key and square of each element as value

In [7]:
ordinary_dict ={}

for i in range(2,21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [8]:
#Now, Suppose we need to create a list of multiple of 6 for just even numbers between 1 to 10.

In [9]:
l1=[]
for i in range(1,11):
    if i%2==0:
        l1.append(i*6)
print(l1)

[12, 24, 36, 48, 60]

In [10]:
l2=[i*6 for i in range(1,11) if i%2==0]
print(l2)

[12, 24, 36, 48, 60]

In [11]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

In [1]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [2]:
def func(x, y):
    z = x * y + x + y
    return z

func(2, func(3))

TypeError: func() missing 1 required positional argument: 'y'

In [3]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [4]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [5]:
name = ['Harshit','Aman','Akash']
list(filter(lambda x : x.startswith("A"), name))

['Aman', 'Akash']

In [9]:
from functools import reduce
list_1 = ['harshit','aman']
reduce(lambda x,y: x +' '+ y,list_1)

'harshit aman'

In [1]:
#Having learned about classes from the previous video, you will now create an Employee class with three attributes: age, name, and employee id.

In [11]:
class Employee():
    company_code="ABC"
    def __init__(self,age,name,eid):
        self.age=age
        self.name=name
        self.eid=eid
emp=Employee(25,"mcb","1ga18cs111")
print("age= "+ str(emp.age)+ "\nname= ",emp.name, "\nemployee_id= ",emp.eid, "\ncompany_code= ",emp.company_code)

age= 25
name=  mcb
employee_id=  1ga18cs111
company_code=  ABC

In [17]:
class Student:
    def __init__(self):
        self.age = 10
        self.name = "Name"
student1=Student()
print(student1.name)
print(student1.age)

Name
10

In [20]:
class Student:
    standard = 'IV'
    def __init__(self,age,name,Cid):
        self.age = age
        self.name = name
        self.id = Cid

student1 = Student(12,"Raj",24)
Student.standard = 'V'
print(student1.standard)

V

In [21]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z
           
    def update_y(self):
        self.y = self.y * self.x
   
    @classmethod
    def update_z(cls):
        self.z = self.z + 20

        
A1 = A(3,4)
A2 = A(5,6)

A2.update_z()
A1.y + A2.z

NameError: name 'self' is not defined

In [1]:
class A:
    def __init__(self, x=1):
        self.x = x
class B(A):
    def __init__(self,y =2):
        super().__init__()
        self.y = y

def main():
    b = B()
    print(b.x,b.y)
main()

1 2

In [7]:
def remove_duplicates(s: str) -> str:
    l1=[]
    for i in s:
        if i not in l1:
            l1.append(i)
    st="".join(l1)
    return st
s = input()
print(remove_duplicates(s))

aabbcc
abc

In [2]:
def is_perfect_number(number: int) -> bool:
    li=[]
    for i in range(1,num):
        if num%i==0:
            li.append(i)
    print(li)
    if sum(li)==num:
         return True
    else:
         return False
num = int(input())
print(is_perfect_number(num))

28
[1, 2, 4, 7, 14]
True

In [16]:
li=[]
for i in range(1,6):
    if 6%i==0:
        li.append(i)
if sum(li)==6:
     flag=True
else:
     flag=False

In [3]:
1*12
2*6
3*4
4*3
6*2

12

In [7]:
list1=[1,2,3,4,5,6]#first list
list2=[4,5,6,7,8]#second list
list1=set(list1)
list2=set(list2)
res=list1.intersection(list2)
print(list(res))

[4, 5, 6]

In [12]:
n=int(n)
print(n * 11)

NameError: name 'n' is not defined